.folder-list-container:last-child .folder-list-divider {
  display: none;
}

.folder-list-divider {
  height: 1px;
  background-color: #ddd;
  border: none;
}

.folder-list .list-item {
  display: grid;
  align-items: center;
  grid-template-columns: 12% 88%;
}

.folder-list-text {
  color: #666;
}
