:root {
  --leftpanel-width: 250px;
}

.leftpanel {
  display: grid;
  max-width: var(--leftpanel-width);
  margin: 1rem 1rem auto 1rem;
  align-self: start;
}

.leftpanel-button {
  width: 42%;
  padding: 1.5rem 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 20px;
  border: none;
  box-shadow: 0 2px 5px 1px #999;
  font-size: 1.2rem;
  transition: all 0.4s ease;
}

.leftpanel-button:hover {
  background-color: #d3e3fd;
  box-shadow: 0 2px 5px 2px #999;
  transition: all 0.4s ease;
}

.leftpanel-item {
  padding: 0.3rem 0.5rem 0.5rem 0.5rem;
  border-radius: 20px;
  width: calc(var(--leftpanel-width) * 2.8 / 3);
  cursor: pointer;
}

.leftpanel-item.selected {
  background-color: #c2e7ff;
}

.leftpanel-item:hover {
  background-color: #dfdfdf;
}

.leftpanel-item.active:hover {
  background-color: none;
}

.leftpanel-icon {
  transform: translateY(4px);
}

.leftpanel-text {
  margin-left: 10px;
  font-size: 1rem;
}

.expandable-arrow {
  transform: translateY(3px);
}

.expandable-arrow.open {
  transform: translateY(3px) rotate(90deg);
}

.non-expandable {
  margin-left: 1rem;
}
