:root {
  --searchbarheight: 3rem;
  --searchbarwidth: 46rem;
}

/* Main Search Bar */

.search-container {
  border-radius: 25px;
  display: grid;
  height: var(--searchbarheight);
  overflow: hidden;
  width: var(--searchbarwidth);
}
.search-active {
  border-radius: 25px 25px 0 0;
  box-shadow: 0 0 1px 1px #e2e2e2;
}
.search-main {
  align-items: center;
  background-color: #f1f6ff;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 7% 86% 7%;
  justify-items: center;
  border-radius: 25px 25px 0 0;
}
.search-active .search-main {
  background-color: #fff;
}
.search-icon,
.search-menu-icon {
  align-self: center;
  background: none;
  border: none;
  z-index: 1;
}

.search-icon {
  margin-left: 0.2rem;
}

.search-menu-icon {
  margin-right: 0.2rem;
}

.search-icon:hover,
.search-menu-icon:hover {
  background-color: #e2e2e2;
  border-radius: 50%;
  padding: 0.5rem;
}
.search {
  background-color: inherit;
  border-radius: 25px;
  border: none;
  justify-self: center;
  outline: none;
  padding: 1rem;
  width: 100%;
}

/* Search Dropdown Container */

.search-dropdown {
  border-radius: 0 0 25px 25px;
  box-shadow: 0 1px 1px 1px #e2e2e2;
  position: absolute;
  transform: translateY(3rem);
  width: 46rem;
}

/* Recent Search Window */

.recent-search {
  align-items: center;
  background-color: #fff;
  border-top: none;
  border: 1px solid #e2e2e2;
  display: grid;
  height: 3rem;
  max-width: var(--searchbarwidth);
  cursor: pointer;
}
.recent-search-container {
  align-items: center;
  display: grid;
  grid-template-columns: 5% 95%;
  height: 3rem;
  justify-items: center;
}
.recent-search-icon {
  margin-left: 1rem;
}
.recent-search-container:hover {
  background-color: #e2e2e2;
}
.recent-search-text {
  justify-self: start;
  margin: 0;
  margin-left: 1rem;
}

/* File Type Search Window */

.filetype-search {
  align-items: center;
  background-color: #fff;
  border-top: none;
  border: 1px solid #e2e2e2;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 5rem;
  justify-content: center;
  padding: 0 1rem;
}
.filetype-container {
  align-items: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 4rem;
  justify-items: center;
  padding: 0.5rem 0;
  cursor: pointer;
}
.filetype-container:hover {
  background-color: #e2e2e2;
}
.filetype-icon {
  border-radius: 50%;
  border: 1px solid #ccc;
  padding: 0.5rem;
}
.filetype-text {
  font-size: 12px;
  margin: 0;
}

/* Search More window */

.search-more {
  align-items: center;
  background-color: #fff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top: none;
  border: 1px solid #e2e2e2;
  display: grid;
  height: 3rem;
  max-width: var(--searchbarwidth);
}
.search-more-container {
  margin-left: 1rem;
}
.search-more-button {
  background: none;
  border: none;
  color: #388eff;
  font-size: 1rem;
  padding-left: none;
  padding: 0.5rem;
  cursor: pointer;
}
.search-more-button:hover {
  background-color: #e2e2e2;
}
