.dashboard-header {
  display: grid;
  grid-template-columns: 94% 6%;
}

.filepath-name {
  color: #444;
  cursor: pointer;
  width: fit-content;
  padding: 0.5rem 0.7rem;
  margin: 0.5rem;
  margin-left: 0;
  border-radius: 25px;
  transform: translateX(-0.7rem);
}

.filepath-name span {
  margin: 0.3rem;
  margin-left: 0;
  font-size: 1.5rem;
  font-weight: 400;
  padding-left: 0.4rem;
}

.filepath-name:hover {
  background-color: #eee;
}

.dashboard-settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.dashboard-data-layout,
.dashboard-data-info {
  border-radius: 25px;
  display: grid;
  align-items: center;
}

.dashboard-data-layout-icon {
  padding: 0.7rem;
}

.dashboard-data-layout:hover,
.dashboard-data-info:hover {
  background-color: #eee;
}
