.main {
  display: grid;
  grid-template-columns: var(--navbar-logowidth) 1fr;
  /* grid-template-rows: 4% 96%; */
  grid-template-rows: minmax(4%, 96%), (6%, 94%);
}

.list {
  position: absolute;
  left: -210px;
  list-style-type: none;
  flex-direction: column;
  margin: 0;
  min-width: 250px;
  border-radius: 5px;
  z-index: 1;
}

.list-hidden {
  height: 0;
  overflow: hidden;
  padding: 0;
  box-shadow: none;
  transition: all 0.3s linear;
}

.list-visible {
  background-color: #fff;
  height: fit-content;
  overflow: visible;
  padding: 10px 0;
  box-shadow: 0 0 4px 1px #ccc;
  transition: all 70ms linear;
  background-color: #fff;
}

.list-item {
  cursor: pointer;
  padding: 5px 20px;
}

.list-item:hover {
  background: #ddd;
}

.selected {
  background-color: #c2e7ff;
}

/* Common DropDown Styles */

.dropdown {
  position: relative;
  float: right;
  height: 3rem;
}

.dropdown-icon:first-child {
  cursor: pointer;
  display: inline-flex;
  border-radius: 25px;
  padding: 10px;
}

.dropdown-icon:first-child:hover {
  background: #ddd;
}
