.main {
  display: grid;
  grid-template-columns: var(--navbar-logowidth) 1fr;
  /* grid-template-rows: 4% 96%; */
  grid-template-rows: minmax(4%, 96%), (6%, 94%);
}

/* Input Type File */
input[type="file"] {
  display: none;
}

.list {
  margin: 0;
  background-color: #fff;
  box-shadow: 0 0 4px 1px #ccc;
  list-style-type: none;
  flex-direction: column;
  max-width: 250px;
  border-radius: 5px;
  padding: 10px 0;
}

.list-item {
  cursor: pointer;
  padding: 5px 20px;
}

.list-item:hover {
  background: #eee;
}

.selected {
  background-color: #c2e7ff;
}

/* Common DropDown Styles */

.dropdown {
  position: relative;
  float: right;
  height: 3rem;
}

.dropdown-icon:first-child {
  cursor: pointer;
  display: inline-flex;
  border-radius: 25px;
  padding: 10px;
}

.dropdown-icon:first-child:hover {
  background: #ddd;
}
