.list {
  position: absolute;
  left: -210px;
  list-style-type: none;
  flex-direction: column;
  margin: 0;
  min-width: 250px;
  border-radius: 5px;
  z-index: 10;
}

.list-hidden {
  height: 0;
  overflow: hidden;
  padding: 0;
  box-shadow: none;
  transition: all 0.3s linear;
}

.list-visible {
  height: fit-content;
  overflow: visible;
  padding: 10px 0;
  box-shadow: 0 0 4px 1px #ccc;
  transition: all 70ms linear;
}

.list-item {
  cursor: pointer;
  padding: 5px 20px;
}

.list-item:hover {
  background: #ddd;
}
