.dropdown {
  position: relative;
  float: right;
  height: 3rem;
}

.dropdown-icon:first-child {
  cursor: pointer;
  display: inline-flex;
  border-radius: 25px;
  padding: 10px;
}

.dropdown-icon:first-child:hover {
  background: #ddd;
}
