.adsearch {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 5px 5px 3px #ccc;
  display: grid;
  gap: 1.5rem;
  margin-left: var(--navbar-logowidth);
  min-width: 43rem;
  padding: 1rem 1.5rem;
  position: absolute;
  transform: translateY(3.5rem);
  z-index: 1;
}

.adsearch-label {
  align-self: center;
  font-size: 0.875rem;
  font-weight: bold;
}
.container {
  display: grid;
  grid-template-columns: 20% 40% 40%;
  padding-right: 1.5rem;
}
.adsearch-close {
  justify-self: end;
  margin-top: -0.8rem;
  padding: 1rem;
  transform: translateX(1rem);
}
.adsearch-type {
  margin-top: -2.5rem;
}
.adsearch-close:hover {
  background: #eee;
  border-radius: 50%;
  transition: background 0.3s ease;
}
.adsearch-options,
.adsearch-input input {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #000;
  font-size: 0.875rem;
  outline: none;
  padding: 10px;
  width: 250px;
}
.adsearch-words .adsearch-input,
.adsearch-item-name .adsearch-input {
  grid-column: 2 / 4;
}
.adsearch-words .adsearch-input input,
.adsearch-item-name .adsearch-input input {
  width: 100%;
}
.adsearch-location {
  grid-template-columns: 20% 80%;
}
.adsearch-location .adsearch-checkbox {
  grid-column: 2 / 3;
}
.adsearch-checkbox input:hover {
  background: #ccc;
  border-radius: 50%;
  border: 1px solid black;
  padding: 4rem;
}
.adsearch-location .adsearch-checkbox > * {
  margin-left: 1rem;
  margin-top: 1rem;
}
.adsearch-approvals .adsearch-checkbox {
  grid-column: 2 / 4;
}
.adsearch-approvals .adsearch-checkbox > * {
  margin-left: 1rem;
}
.adsearch-submit {
  display: grid;
}
.adsearch-submit a {
  color: #0b57d0;
  text-decoration: none;
}
.adsearch-button {
  grid-column: 2/4;
  justify-self: end;
}
.adsearch-learn-button:hover,
.adsearch-button-reset:hover {
  color: #0844a5;
}
.adsearch-button-search {
  background-color: #0b57d0;
  border-radius: 25px;
  border: none;
  color: #fff;
  font-size: 1rem;
  outline: none;
  padding: 0.5rem 1.5rem;
  transform: translateX(1.5rem);
  transition: background 0.3s ease;
}
.adsearch-button-search:hover {
  background-color: #0844a5;
}
